
.row{
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: space-between;
    padding:50px 0 100px;

}

.work{
    border-style: solid;
    height: 300px;
    width:400px;
}

.work-img{
    max-width: 100%;
    min-height: 100%;

}